= form_tag(root_path, method: :get) do

	.form-group
		= text_field_tag :query, params[:query], label: false, input_html: { class: 'form-control' }
	= submit_tag "Search", name: nil, class: "btn btn-primary"

%br= render @articles

%br= will_paginate