= form_tag(root_path, method: :get) do

	.form-group
		= text_field_tag :query, params[:query], label: false, input_html: { class: 'form-control' }
	= submit_tag "Search", name: nil, class: "btn btn-primary"

- @articles.each do |article|
	%h2= link_to article.title, article
	%p
		Published
		= article.created_at.strftime('%B %d, %Y, %l:%M:%S %p %Z')
	%p= truncate(article.content, length: 200)