%h1= @article.title
%p
edited by
= @user.email

%br
%br
%p= @article.content

%br
.btn-group
	- if user_signed_in?
		= link_to "Edit", edit_article_path(@article), class: "btn btn-default"
		= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Confirm Permanent Deletion of Article" }, class: "btn btn-default"