!!!
%html
%head
  %title Wiki
  = csrf_meta_tags
  = csp_meta_tag

  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
%body
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      = link_to "Wiki", root_path, class: "navbar-brand"
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          - if current_user.is_admin?
            %li= link_to "Manage Users", users_path
            %li= link_to "Manage Article Reports", article_reports_path
          %li= link_to "New Article", new_article_path
          %li= link_to "Edit Account", edit_user_registration_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Register", new_user_registration_path
          %li= link_to "Sign In", new_user_session_path
  %br
  %br
  %br

  %p
  .container
    .row
      .col-md-8
        - if flash[:alert]
          %p=flash[:alert]
        - if flash[:notice]
          %p=flash[:notice]
        =yield